# macOS System files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon
Icon\r

# Thumbnails
._*

# Files that might appear on external disk drives
.Spotlight-V100
.Trashes

# macOS directory service store
.VolumeIcon.icns

# Apple file metadata
com.apple.timemachine.donotpresent

# macOS file tags
.Tag\x2D

# Temporary files
.fseventsd
